.window {
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 532px;
  max-height: 350px;
  margin: 0;
  color: white;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-origin: center;
          transform-origin: center;
  /*elemento che ruota con animazione*/
  /*singola finesta*/
}

.window__content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-30vw) rotateY(0);
          transform: translateZ(-30vw) rotateY(0);
  -webkit-animation: showcase 25s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: showcase 25s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.window__content.step-animation {
  -webkit-animation: showcase 8s infinite steps(1) forwards;
          animation: showcase 8s infinite steps(1) forwards;
}

.window__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 532px;
  max-height: 350px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.window__item:nth-child(1) {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  /*rgba(255, 255, 255, 0.2); /* #4d2600;*/
  background-image: url("C:/Users/Caffeina/Caffetteria/img/showcase019.webp");
  background-size: cover;
  -webkit-transform: rotateY(0) translateZ(45vw);
          transform: rotateY(0) translateZ(45vw);
}

.window__item:nth-child(2) {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  background-image: url("C:/Users/Caffeina/Caffetteria/img/showcase024.webp");
  background-size: cover;
  -webkit-transform: rotateY(60deg) translateZ(45vw);
          transform: rotateY(60deg) translateZ(45vw);
}

.window__item:nth-child(3) {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  background-size: cover;
  -webkit-transform: rotateY(120deg) translateZ(45vw);
          transform: rotateY(120deg) translateZ(45vw);
}

.window__item:nth-child(4) {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  background-image: url("C:/Users/Caffeina/Caffetteria/img/showcase03.webp");
  background-size: cover;
  -webkit-transform: rotateY(180deg) translateZ(45vw);
          transform: rotateY(180deg) translateZ(45vw);
}

.window__item:nth-child(5) {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  background-image: url("C:/Users/Caffeina/Caffetteria/img/showcase04.webp");
  background-size: cover;
  -webkit-transform: rotateY(240deg) translateZ(45vw);
          transform: rotateY(240deg) translateZ(45vw);
}

.window__item:nth-child(6) {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  background-size: cover;
  -webkit-transform: rotateY(300deg) translateZ(45vw);
          transform: rotateY(300deg) translateZ(45vw);
}

/*animazione e tempi*/
@-webkit-keyframes showcase {
  0%, 5.7% {
    -webkit-transform: translateZ(-35vw) rotateY(0);
            transform: translateZ(-35vw) rotateY(0);
  }
  15.7%, 21.4% {
    -webkit-transform: translateZ(-35vw) rotateY(-60deg);
            transform: translateZ(-35vw) rotateY(-60deg);
  }
  31.4%, 37.1% {
    -webkit-transform: translateZ(-35vw) rotateY(-120deg);
            transform: translateZ(-35vw) rotateY(-120deg);
  }
  47.1%, 52.8% {
    -webkit-transform: translateZ(-35vw) rotateY(-180deg);
            transform: translateZ(-35vw) rotateY(-180deg);
  }
  62.8%, 68.5% {
    -webkit-transform: translateZ(-35vw) rotateY(-240deg);
            transform: translateZ(-35vw) rotateY(-240deg);
  }
  78.5%, 84.2% {
    -webkit-transform: translateZ(-35vw) rotateY(-300deg);
            transform: translateZ(-35vw) rotateY(-300deg);
  }
  94.2%, 100% {
    -webkit-transform: translateZ(-35vw) rotateY(-360deg);
            transform: translateZ(-35vw) rotateY(-360deg);
  }
}
@keyframes showcase {
  0%, 5.7% {
    -webkit-transform: translateZ(-35vw) rotateY(0);
            transform: translateZ(-35vw) rotateY(0);
  }
  15.7%, 21.4% {
    -webkit-transform: translateZ(-35vw) rotateY(-60deg);
            transform: translateZ(-35vw) rotateY(-60deg);
  }
  31.4%, 37.1% {
    -webkit-transform: translateZ(-35vw) rotateY(-120deg);
            transform: translateZ(-35vw) rotateY(-120deg);
  }
  47.1%, 52.8% {
    -webkit-transform: translateZ(-35vw) rotateY(-180deg);
            transform: translateZ(-35vw) rotateY(-180deg);
  }
  62.8%, 68.5% {
    -webkit-transform: translateZ(-35vw) rotateY(-240deg);
            transform: translateZ(-35vw) rotateY(-240deg);
  }
  78.5%, 84.2% {
    -webkit-transform: translateZ(-35vw) rotateY(-300deg);
            transform: translateZ(-35vw) rotateY(-300deg);
  }
  94.2%, 100% {
    -webkit-transform: translateZ(-35vw) rotateY(-360deg);
            transform: translateZ(-35vw) rotateY(-360deg);
  }
}

.showcase-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  font-size: 150%;
  padding: 3%;
  text-align: center;
}

.window__item:hover .overlay {
  opacity: 1;
}
/*# sourceMappingURL=animation.css.map */